openapi: 3.0.3
info:
  title: Great American Insurance - Shop Service
  version: 1.0.0
paths:
  /api/endpoints:
    get:
      tags:
      - endpoints
      responses:
        '200':
          description: OK
  /api/docs:
    post:
      tags:
      - docs
      responses:
        '200':
          description: OK
  /api/mediaTypes:
    get:
      tags:
      - get
      responses:
        '200':
          description: OK
  /api/synthetic:
    get:
      tags:
      - synthetic
      responses:
        '200':
          description: OK
  /api/newBusiness:
    post:
      tags:
      - post
      responses:
        '200':
          description: OK
  /api/newBusiness/appetite:
    post:
      tags:
      - post
      responses:
        '200':
          description: OK
  /api/newBusiness/application:
    post:
      tags:
      - post
      responses:
        '200':
          description: OK
  /api/newBusiness/eligibility:
    post:
      tags:
      - post
      responses:
        '200':
          description: OK
  /api/newBusiness/pricing:
    post:
      tags:
      - post
      responses:
        '200':
          description: OK
  /api/newBusiness/documents:
    post:
      tags:
      - post
      responses:
        '200':
          description: OK
  /api/newBusiness/submit:
    post:
      tags:
      - post
      responses:
        '200':
          description: OK
  /api/pricingIndication:
    post:
      tags:
      - post
      responses:
        '200':
          description: OK
  /api/pricingDetail:
    post:
      tags:
      - post
      responses:
        '200':
          description: OK
servers:
- url: https://prod01.api.gaig.com/shop
  description: PROD — base URL published on the Great American Carrier Services API documentation page
- url: https://uat01.api.gaig.com/shop
  description: UAT
- url: https://dev01.api.gaig.com/shop
  description: DEV
